<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

	<global-method-security pre-post-annotations="enabled" />

	<http auto-config="false" use-expressions="true">
		<intercept-url pattern="/Logout" access="hasRole('ROLE_ADMIN')" />
		<form-login />
		<logout logout-url="/Logout" logout-success-url="/Computer/Search"
			delete-cookies="JSESSIONID" />

	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="SELECT u.username, u.password, u.enabled 
				FROM users u WHERE u.username = ?"
				authorities-by-username-query="SELECT u.username, r.authority 
				FROM users u INNER JOIN users_has_roles uhr ON u.userId = uhr.users_userId 
				INNER JOIN roles r ON uhr.roles_userRoleId = r.userRoleId
				WHERE u.username = ?" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>